<% content_for :page_title do %>
  <%= link_to "Videos", spree.admin_videos_url %> /
  <%= @video.name %>
<% end %>

<% content_for :page_actions do %>
  <h5 style="padding-top:10px;">Avg Rating: <%=@video.avg_rating %></h5>&nbsp;
  <%= video_preview_link(@video.slug) %>
<% end %>

<%= form_for [:admin, @video] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>