<% content_for :page_title do %>
  <%= "Videos" %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to "New Video", new_admin_video_url, { class: "btn-success", icon: 'add', id: 'new_admin_video_url' } %>
<% end%>

<% if @videos.any? %>
<div class="table-responsive">
  <table class="table" id='listing_videos' data-hook>
    <thead>
      <tr data-hook="video_header">
        <th><%= "Name" %></th>
        <th><%= "Slug" %></th>
        <th><%= "Available On" %></th>
        <th><%= "Discontinue On" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @videos.each do |video|
           @edit_url = edit_admin_video_url(video)
           @delete_url = admin_video_url(video) %>

        <tr id="<%= spree_dom_id video %>" data-hook="tax_row">
          <td><%= video.name %></td>
          <td><%= video.slug %></td>
          <td><%= video.available_on %></td>
          <td><%= video.discontinue_on %></td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_edit(video, no_text: true) if can? :edit, video %>
              <%= link_to_delete(video, no_text: true) if can? :delete, video %>
            </span>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Video)) %>
  </div>
<% end %>